<br><br><br><h1><center>Editing Event</center></h1>

<%= render 'form', event: @event %>
<br>

<!-- <div class="container"
<div class="card" style="width: 18rem;">
<%if @event.header_image.attached?%>
      <%= image_tag @event.header_image, alt: 'header_image' , size: "100x270" ,class: "card-img-top" %>
    <%else%>
      <p>=== Il n'y a pas encore d'image lié à cet event ===</p>
    <%end%>

<%= form_tag event_header_images_path(@event), multipart: true do %>
      <%= file_field_tag :header_image %>
      <%= submit_tag "Change cover" %>
    <% end %>
</div>
</div> -->
