    <%if !current_user %>
     <div style="background:transparent !important" class="jumbotron">
        <center><h1 class="display-4 text-primary">Hello people!</h1><br>
        <strong><p class="lead">Want to join my website, please suscribe by using any mail address! (Click on the arrow top-left!) </p></strong>
        <hr class="my-3">
        <div class= "text-danger"><p>If you wanna get the Admin access, please go to manuel (Readme.md). </p></center></div>
    </div>

    <%else %>


    <div style="background:transparent !important" class="jumbotron">
      <center>
        <h1 class="display-4 m-1 text-primary">Hello <%=current_user.first_name%>!</h1>
              <p>Welcome on my website, let's see which events fit to your dreams! </p>
      <hr class="my-3">
          <p>You can join any events on this page. Look into it!</p><br>
         <div class=" mb-4">
            <%= link_to "Create event", new_event_path, :class => "btn btn-outline-danger btn-lg btn-block" %>
       
           <%if current_user.is_admin == true %>

             <a class="btn btn-outline-primary btn-lg btn-block" <%= link_to "Admin access", admin_root_path%></a>
         </div>
       </center>
          <%else %>
          <% end %>
      </div>
    </div>


<!-- affichage des events -->

  <div class="card-columns border-warning container " >
      <% @events.each do |event| %>
        <%if event.validated == true %>
        <div class="card"style= "width: 23rem;">

          <%if event.header_image.attached?%>
                        <%= image_tag event.header_image.variant(resize: "500x500").processed, alt: 'header_image',class: "card-img-top" %>
                <%else%>
                       <p><img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" /></p>
                 <%end%>

            <div class="card-header text-center">
                <h5 class="card-title text-danger"><%= event.title %></h5>
            </div>
            <div class="card-body text-center">
            <p class="card-subtitle mb-3"><%= event.description[0..60] %>...</p>
            <a class="btn-outline-warning btn p-1" <%= link_to "Have a look on it", event_path(event.id)%></a>
            </div>
        </div>
        <%end%>
      <% end %>
  </div>
<%end%>