<br><br>

<div class="card border-warning m-5">

    <div class="card-header text-primary text-center"><h2>Welcome on your event space!</h2></div>
    <div class="card-body text-dark"><p class="m-2">Attendees :</p>
        <div class="card-body text-primary">
          <ul class="card-text list-group">
            <% @attendees.each do |attendee| %>
              <li class="list-group-item">
                First name: <%= attendee.first_name %></br>
                Last name: <%= attendee.last_name %></br>
                Email: <%= attendee.email %><br>
              </li>
            <% end %>

            <% if @attendees != true %>
            <p>No attendees ATM.</p>
            <% end %>

            </br></br>
            <p class="text-center">
              <%= link_to "Modificate", edit_event_path(params[:event_id]), :class => "btn btn-outline-success btn-lg" %>
              <%= link_to "Delete", event_path(params[:event_id]), :class => "btn btn-outline-danger btn-lg", :data => { :confirm => "Are you sure?" }, :method => "delete" %>
            </p>
          </ul>
        </div>
    </div>